@font-face
{
    font: {
        family : 'Fragment Core';
        size: normal;
        weight: normal;
    }
    src: url('../../font/Fragmentcore.otf');
}

body
{
    padding : 0;
    margin : 0;
    background: {
        color : #fffdf7;
        size : cover;
    }
    font-family: 'Fragment Core';
    color: #000;
}


#container
{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
}

/*IMAGE*/
#image
{
  max-width: 40%;
  transition: all 0.3s;
  opacity: 0;
}

/*SECRET WORD*/
#secret-word
{
  margin-bottom: 10px;
}
#secret-word span 
{
  display: inline-block;
  margin: 5px;
  font-size: 2em;
}

/*KEYBOARD*/
#keyboard 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#keyboard input[type=button] 
{
    margin: 4px;
}

#keyboard input[type=button]:disabled
{
    background: #7b7b7b;
    color: #c3c3c3;
}
  
#keyboard input[type=button], #start-again 
{
    font-size: 1.3em;
    padding: 5px;
}
